<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {},
            },
            plugins: [window.daisyui],
        };
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui/dist/full.css">
    
    <title>@ViewData["Title"] - Meu Site</title>
</head>

<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        @RenderBody() <!-- Aqui será injetado o conteúdo das páginas Razor -->
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year - Meu Site</p>
    </footer>
</body>

</html>
