@page
@model AtivoPlusFrontend.Pages.Pages_Index
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Complexa com Animações</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>

<body>
    <main class="p-4 md:ml-64 h-auto pt-20">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <div class="flex flex-col justify-between bg-white dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 rounded-lg p-4 h-32 md:h-64">
            <div class="text-xl font-bold text-gray-900 dark:text-white mb-2">
                Isto é a pagina principal (Geral)
            </div>
            <div class="text-2xl font-semibold text-green-500 dark:text-green-400 mb-2">
                24.987€
            </div>
            <div class="text-sm text-gray-500 dark:text-gray-400">
                Uma descrição para o card
            </div>
        </div>  
        <div class="flex flex-col justify-between bg-white dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 rounded-lg p-4 h-32 md:h-64">
            <div class="text-xl font-bold text-gray-900 dark:text-white mb-2">Vai ser uma resumo</div>
            <div class="text-2xl font-semibold text-green-500 dark:text-green-400 mb-2">€ 32,45
                
            </div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Ação de petróleo da Petrobras</div>
        </div>
        <div class="flex flex-col justify-between bg-white dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 rounded-lg p-4 h-32 md:h-64">
            <div class="text-xl font-bold text-gray-900 dark:text-white mb-2"> De todos os ativos</div>
            <div class="text-2xl font-semibold text-green-500 dark:text-green-400 mb-2">€ 115,30</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Investimento em imóveis comerciais</div>
        </div>
        <div class="flex flex-col justify-between bg-white dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 rounded-lg p-4 h-32 md:h-64">
            <div class="text-xl font-bold text-gray-900 dark:text-white mb-2">Criptomoeda: BTC</div>
            <div class="text-2xl font-semibold text-green-500 dark:text-green-400 mb-2">€ 150.000</div>
            <div class="text-sm text-gray-500 dark:text-gray-400">Preço atual do Bitcoin</div>
        </div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      ></div>
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
      </div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4"
      ></div>
      <div class="grid grid-cols-2 gap-4">
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
        <div
          class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
        ></div>
      </div>
    </main>


</body>

</html>
